.container {
    position: absolute;
    top: 10px;
    bottom: 3px;
    left: 0;
    right: 0;
    margin-top: 51px;
}

.content-container {
    padding-top: 2vh;
}

.mat-nav-list .mat-list.item .mat-list-icon {
    padding-right: 1vw;
    top: inherit;
    position: relative;
}

.mat-toolbar .mat-primary {
    position: sticky;
    top: 0;
    z-index: 100;
}

.mat-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.stlye {
    height: 88vh;
}